<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="project_ManaTV.Properties.Settings.TVManagementConnectionString"
            connectionString="Data Source=LAPTOP-VM5HDNMQ;Initial Catalog=TVManagement;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="SERVER" value="MUCKHOTAU\SQLEXPRESS" />
      <add key="DATABASE" value="TVManagement" />
      <add key="Integrated_Security" value="true" />
    </appSettings>
</configuration>