USE [master]
GO
/****** Object:  Database [TVManagement]    Script Date: 10/8/2023 1:44:40 PM ******/
CREATE DATABASE [TVManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TVManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TVManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TVManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TVManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TVManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TVManagement]
GO
/****** Object:  Table [dbo].[Colors]    Script Date: 10/8/2023 1:44:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colors](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[color_name] [varchar](25) NULL,
	[color_value] [varchar](20) NULL,
	[color_status] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CountryOfManufacture]    Script Date: 10/8/2023 1:44:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CountryOfManufacture](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[country_name] [varchar](25) NULL,
	[country_status] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 10/8/2023 1:44:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customer_name] [nvarchar](100) NULL,
	[customer_address] [nvarchar](1000) NULL,
	[customer_phoneNumber] [varchar](11) NULL,
	[customer_status] [tinyint] NULL,
	[customer_email] [nvarchar](100) NULL,
	[customer_rate] [int] NULL,
	[customer_comment] [int] NULL,
	[customer_from] [int] NULL,
	[createdAt] [datetime] NULL,
	[updatedAt] [datetime] NULL,
	[createdBy] [nvarchar](100) NULL,
	[updatedBy] [nvarchar](100) NULL,
	[isDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Designs]    Script Date: 10/8/2023 1:44:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Designs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[design_name] [varchar](25) NULL,
	[design_status] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Images]    Script Date: 10/8/2023 1:44:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[image_path] [varchar](100) NULL,
	[image_status] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportBill]    Script Date: 10/8/2023 1:44:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportBill](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[import_amount] [int] NULL,
	[supplier_id] [int] NULL,
	[staff_id] [int] NULL,
	[import_date] [date] NULL,
	[import_bill_status] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportBillDetail]    Script Date: 10/8/2023 1:44:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportBillDetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[import_amount] [int] NULL,
	[import_voucher] [float] NULL,
	[import_bill_id] [int] NULL,
	[import_detail_status] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufacturer]    Script Date: 10/8/2023 1:44:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[manufacturer_name] [varchar](25) NULL,
	[manufacturer_address] [varchar](50) NULL,
	[manufacturer_status] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 10/8/2023 1:44:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [varchar](50) NULL,
	[manufacturer_id] [int] NULL,
	[design_id] [int] NULL,
	[color_id] [int] NULL,
	[screen_id] [int] NULL,
	[size_id] [int] NULL,
	[country_id] [int] NULL,
	[product_amount] [int] NULL,
	[product_status] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Screen]    Script Date: 10/8/2023 1:44:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Screen](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[screen_name] [varchar](25) NULL,
	[screen_status] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScreenSize]    Script Date: 10/8/2023 1:44:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScreenSize](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[screen_size] [float] NULL,
	[size_status] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SellBill]    Script Date: 10/8/2023 1:44:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellBill](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sell_amount] [int] NULL,
	[customer_id] [int] NULL,
	[staff_id] [int] NULL,
	[sell_date] [date] NULL,
	[sell_tax] [int] NULL,
	[sell_bill_status] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SellBillDetail]    Script Date: 10/8/2023 1:44:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellBillDetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[sell_amount] [int] NULL,
	[sell_voucher] [float] NULL,
	[sell_bill_id] [int] NULL,
	[sell_detail_status] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShiftWork]    Script Date: 10/8/2023 1:44:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShiftWork](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[shiftwork_name] [varchar](10) NULL,
	[shiftwork_description] [varchar](max) NULL,
	[shiftwork_status] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 10/8/2023 1:44:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[staff_name] [varchar](25) NULL,
	[staff_gender] [bit] NULL,
	[staff_phoneNumber] [varchar](11) NULL,
	[staff_dob] [date] NULL,
	[staff_address] [varchar](50) NULL,
	[staff_email] [varchar](25) NULL,
	[staff_work_id] [int] NULL,
	[staff_status] [tinyint] NULL,
	[staff_image] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff_ShiftWork]    Script Date: 10/8/2023 1:44:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff_ShiftWork](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[staff_id] [int] NULL,
	[shiftwork_id] [int] NULL,
	[staff_shift_status] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 10/8/2023 1:44:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[supplier_name] [varchar](25) NULL,
	[supplier_address] [varchar](50) NULL,
	[supplier_phoneNumber] [varchar](11) NULL,
	[supplier_status] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Work]    Script Date: 10/8/2023 1:44:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Work](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[work_name] [varchar](50) NULL,
	[work_description] [varchar](max) NULL,
	[work_status] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([id], [customer_name], [customer_address], [customer_phoneNumber], [customer_status], [customer_email], [customer_rate], [customer_comment], [customer_from], [createdAt], [updatedAt], [createdBy], [updatedBy], [isDeleted]) VALUES (3, N'Nguyễn Thành Hưng', N'Thanh Xuân, Hà Nội', N'0946928815', 1, N'thanh.hung.st302@gmail.com', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Customers] ([id], [customer_name], [customer_address], [customer_phoneNumber], [customer_status], [customer_email], [customer_rate], [customer_comment], [customer_from], [createdAt], [updatedAt], [createdBy], [updatedBy], [isDeleted]) VALUES (4, N'Doãn Nhật Đức', N'Kim Giang, Hà Nội', N'0946888815', 1, N'nhatduc@gmail.com', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Customers] ([id], [customer_name], [customer_address], [customer_phoneNumber], [customer_status], [customer_email], [customer_rate], [customer_comment], [customer_from], [createdAt], [updatedAt], [createdBy], [updatedBy], [isDeleted]) VALUES (5, N'Nguyen Tien', N'Nhât', N'097123123', 1, N'tien@gmail.com', NULL, NULL, NULL, CAST(N'2023-10-05T01:06:30.597' AS DateTime), NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([id], [staff_name], [staff_gender], [staff_phoneNumber], [staff_dob], [staff_address], [staff_email], [staff_work_id], [staff_status], [staff_image]) VALUES (1, N'Sarah', 0, N'0123456789', CAST(N'1990-05-06' AS Date), N'Ha Noi', N'sarah@example.com', 8, 1, N'20230923230804185.png')
INSERT [dbo].[Staff] ([id], [staff_name], [staff_gender], [staff_phoneNumber], [staff_dob], [staff_address], [staff_email], [staff_work_id], [staff_status], [staff_image]) VALUES (2, N'John', 0, N'0976543210', CAST(N'1985-08-20' AS Date), N'Da Nang', N'john@example.com', 2, 1, N'')
INSERT [dbo].[Staff] ([id], [staff_name], [staff_gender], [staff_phoneNumber], [staff_dob], [staff_address], [staff_email], [staff_work_id], [staff_status], [staff_image]) VALUES (3, N'Emma', 1, N'0949876543', CAST(N'1999-03-30' AS Date), N'Ho Chi Minh', N'emma@example.com', 3, 1, NULL)
SET IDENTITY_INSERT [dbo].[Staff] OFF
GO
SET IDENTITY_INSERT [dbo].[Work] ON 

INSERT [dbo].[Work] ([id], [work_name], [work_description], [work_status]) VALUES (1, N'Marketing Manager', N'Manage marketing campaigns', 1)
INSERT [dbo].[Work] ([id], [work_name], [work_description], [work_status]) VALUES (2, N'Product Engineer', N'Develop TV products', 1)
INSERT [dbo].[Work] ([id], [work_name], [work_description], [work_status]) VALUES (3, N'Technical Support Specialist', N'Provide technical support', 1)
SET IDENTITY_INSERT [dbo].[Work] OFF
GO
ALTER TABLE [dbo].[Colors] ADD  DEFAULT ((1)) FOR [color_status]
GO
ALTER TABLE [dbo].[CountryOfManufacture] ADD  DEFAULT ((1)) FOR [country_status]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((1)) FOR [customer_status]
GO
ALTER TABLE [dbo].[Designs] ADD  DEFAULT ((1)) FOR [design_status]
GO
ALTER TABLE [dbo].[Images] ADD  DEFAULT ((1)) FOR [image_status]
GO
ALTER TABLE [dbo].[ImportBill] ADD  DEFAULT ((1)) FOR [import_bill_status]
GO
ALTER TABLE [dbo].[ImportBillDetail] ADD  DEFAULT ((1)) FOR [import_detail_status]
GO
ALTER TABLE [dbo].[Manufacturer] ADD  DEFAULT ((1)) FOR [manufacturer_status]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [product_status]
GO
ALTER TABLE [dbo].[Screen] ADD  DEFAULT ((1)) FOR [screen_status]
GO
ALTER TABLE [dbo].[ScreenSize] ADD  DEFAULT ((1)) FOR [size_status]
GO
ALTER TABLE [dbo].[SellBill] ADD  DEFAULT ((1)) FOR [sell_bill_status]
GO
ALTER TABLE [dbo].[SellBillDetail] ADD  DEFAULT ((1)) FOR [sell_detail_status]
GO
ALTER TABLE [dbo].[ShiftWork] ADD  DEFAULT ((1)) FOR [shiftwork_status]
GO
ALTER TABLE [dbo].[Staff] ADD  DEFAULT ((1)) FOR [staff_status]
GO
ALTER TABLE [dbo].[Staff_ShiftWork] ADD  DEFAULT ((1)) FOR [staff_shift_status]
GO
ALTER TABLE [dbo].[Supplier] ADD  DEFAULT ((1)) FOR [supplier_status]
GO
ALTER TABLE [dbo].[Work] ADD  DEFAULT ((1)) FOR [work_status]
GO
USE [master]
GO
